---
layout: MarketplaceUXSpec
multipage: false
---	

<div class="container">
	<h1>Audience</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
	
	  <p class="longText"><a href="https://github.com/pwalm/marketplace-community-editorial/issues/11">Follow and contribute to the GitHub issue</a>.</p>
	
	  <h3>Traditional Mozillian Contributors</h3>
	  
	  <ul class="longText">
	    <li><strong>Definition:</strong> Mozilla contributors who are already engaged in other Mozilla projects.</li>
	    <li><strong>Motivation:</strong> believe in the mission, interested in technology. Especially keen on doing things that they’ve done in other Mozilla projects. Localising the experience to their language/country/region is one.</li>
	    <li><strong>How to recruit:</strong> leverage existing methods of recruiting contributors.</li>
	  </ul>
	  
	  <h3>App enthusiasts/Marketplace evangelists</h3>
	  
	  <ul class="longText">
	    <li><strong>Definition:</strong> the big question is, does this person exist? We’re not sure, but we know that they’re very important to this project, and there’s a possibility that the other two user types could have strong interest and expertise in apps.</li>
	    <li><strong>Motivation:</strong> passionate to share their expertise about apps and specific types of apps (photography/music) with others</li>
	    <li><strong>How to recruit:</strong> find people in the Marketplace already contributing content (e.g. reviews)</li>
	  </ul>
	  
	  <h3>Participants</h3>
	 	  
	  <ul class="longText">
	    <li><strong>Definition:</strong> active users whose primary interest is in apps. Not necessarily in localisation/maintenance. Not necessarily with review expertise, either.</li>
	    <li><strong>Motivation:</strong> passionate about apps. Want to find apps in the marketplace and help others find apps. Would participate in activities like leaving reviews, upvoting contenting, sharing content, etc.</li>
	    <li><strong>How to recruit:</strong> find people in the Marketplace who are already contributing content (e.g. reviews)</li>
	  </ul>
	  
	  <h3>How user types relate to each other</h3>
	  
	  <p class="longText">Might not represent the view of the team. <a href="https://github.com/pwalm/marketplace-community-editorial/issues/11">Discuss on the GitHub issue</a>.</p>
	  
	  <ul class="longText">
	    <li>A subset of everyday users are already considered participants, even without them realising it. When we find participants, we should send them our call to action to contribute.</li>
	    <li>Participants who responded are interested in either 1) creating new materials or 2) maintaining existing Marketplace content. Those who prefer to create are “App Enthusiasts”.</li>
	    <li>A subset of Mozillian Contributors are interested to contribute to the Marketplace project. We should recruit them.</li>
	    <li>A subset of recruited Contributors prefer to localise and maintain existing content.</li>
	    <li>Another subset of recruited Contributors prefer to contribute in an Editorial capacity. They are “App Enthusiasts”.</li>
	  </ul>
		
	</div>
	
		
