---
layout: MarketplaceUXSpec
multipage: false
---	

<div class="container">
	<h1>Customer Journey Map &rarr; Encourage review of apps with zero review</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-12 col-md-12 col-lg-12">
	
	  <h2>What is it?</h2>
    
    <p class="longText">This program is self-explanatory. Having just one well-written review – whether it’s positive or negative – will help other users measure the quality of an app. The focus is not to get the most number of reviews for most apps in the Marketplace, but to get the highest quality and well-written reviews for apps that don’t yet have one.</p>
    
  	<h3>Our discussions so far</h3>
  	
  	<p class="longText"><a href="https://github.com/pwalm/marketplace-community-editorial/issues/19">Follow along in this GitHub issue</a>.</p>
  	
  	<ul class="longText">
    	<li>We’ve discussed why having a blank text box serving as the only way to review might have reduced our review quality and even helped incite bad reviews (“this app sucks. 1 star”). <strong>Conclusion</strong>: if we are to expect better outputs, we must provide better input methods.</li>
    	<li>We’ve discussed many possible ways that a review could be made better: how to make it easier to start and finish (no blank slate), more qualitative, and more helpful to other readers. <strong>Conclusion</strong>: better reviews unequivocally lead to a better Marketplace.</li>
    	<li>We’ve discussed how, for a better review experience to really bring enough benefit to Marketplace, we may need to deploy this feature to every single user, not just a limited set of contributors. <strong>Conclusion</strong>: this part of the project falls outside of the current scope.</li>
    </ul>

    <p class="longText">We’ve decided that, based on the enormity and potential impact of a brand new review experience, it makes sense to spin it off as a new project.</p>
    
    <p class="longText">Consequently, the concept page for this map is empty.</p>	  		
	</div>
	
		
