---
layout: MarketplaceUXSpec
multipage: false
---	

<div class="container">
	<h1>Customer Journey Map</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-12 col-md-12 col-lg-12">
	
	  <h2>What is it?</h2>
	  
	  <p class="longText">The customer journey map is a tool that we use to communicate the journey of our <a href="audience.html">contributors</a> and their points of interaction with the Marketplace service. The entire service is combined under a catchall term called ‘Mozilla’ for the sake of simplicity, but can be broken down further into e.g. Editorial Team, Community Team, system, and so on.</p>
	  
	  <p class="longText">The map doesn’t aim to represent the deepest details. There’s no screen prototype or detailed feature requirement. Instead, it conveys actions, processes, and information flow between multiple actors. For instance: somebody goes here, then the info is handed off to this system, then the system does this, then it’s handed off to some other person, etc.</p>
	  
	  <p class="longText">The journey is structured into four phases:</p>
	  
	  <ol class="longText">
	    <li>Interest, recruitment and entry</li>
	    <li>First contribution</li>
	    <li>Showcase, share and promote</li>
	    <li>Support and future contributions</li>
	  </ol>
	  
	  <h2>Needs and Answers (a.k.a. Behaviours, Triggers, etc.)</h2>
	  
	  <p class="longText">Before we look at the map, it’s helpful to look at what each <a href="audience.html">user type</a> <strong>needs</strong> in each phase, <strong>activities</strong> they do to seek fulfilment, and what <strong>answers</strong> will Marketplace service need to have for those needs.</p>
	  
	  <p class="longText">Put simply, this is a table of what everybody wants, and how everybody go about getting what they want.</p>
	  
	  <img src="img/needs-answers.png">
	  
	  <h2>Customer Journey Map</h2>
	  
	  <h3>Phase: Interest, recruitment and entry</h3>
	  
	  <p class="longText">Ways to recruit:</p>
	  
	  <ol class="longText">
	    <li>Banners with call-to-action</li>
	    <li>Recruitment emails sent to existing contributors</li>
	    <li>Get Involved page</li>
	  </ol>
	  
	  <p class="longText">Ways to get started:</p>
	  
	  <ol class="longText">
	    <li>Documentation: how to write good feedback for developers, how to write good review, how to translate an app landing page, etc.</li>
	    <li>Interactive guides: when first logging in as a contributor, Marketplace should help guide contributors through the user interface</li>
	  </ol>
	  
	  <img src="img/customer-journey-map-phase-1.png">
	  
	  <p class="longText">After Mozilla upgrades the user’s account into a contributor’s, we move to the next phase.</p>
	  
	  <h3>Phase: First contribution</h3>
	  
	  <p class="longText">In this phase, the type of contribution diverges, as noted in <a href="contributionTypes.html">Types of Contribution</a>:</p>
	  
    <ol class="longText">
      <li>Supplement app listing page with screenshots</li>
      <li>Localise app listing page</li>
      <li>Optimise the review experience for contributors and encourage review of apps with zero review</li>
      <li>Abuse patrol: submiting app feedback to developers</li>
    </ol>
    
    <h3>&rarr; Supplement app listing page with screenshots</h3>
    
    <p class="longText">Description goes here.</p>
    
    <img src="img/screenshot.png">
    
    <h3>&rarr; Localise app listing page</h3>
    
    <p class="longText">Description goes here.</p>
    
    <img src="img/localise.png">
    
    <h3>&rarr; Optimise the review experience for contributors and encourage review of apps with zero review</h3>
    
    <p class="longText">Description goes here.</p>
    
    <img src="img/review.png">

	  <h3>&rarr; Abuse patrol: submiting app feedback to developers</h3>
	  
	  <p class="longText">The abuse patrol program exists not to catch IP thieves or fraudsters in the act, but to empower contributors to submit feedbacks about apps directly to developers. Doing so will increase the accuracy and quality of app listing.</p>
	  
	  <ul class="longText">
	    <li>Contributors can directly give feedback to Developers</li>
      <li>Mozilla has the ability to track whether developers have applied the requested fix or not</li>
      <li>Contributors can request revision if the fix didn’t satisfy the original feedback</li>
      <li>Mozilla has the ability to inform Marketplace User by labeling app listing as “currently being fixed” or “not yet fixed”</li>
      <li>As a last resort, Mozilla has the ability to deal with each Developer on a case by case basis, in case the feedback isn’t applied</li>
	  </ul>
	  
	  <img src="img/abuse-patrol.png">
	  
	  <h3>Phase: Showcase, share and promote</h3>
	  
	  <h3>Phase: Support and future contributions</h3>
	  		
	</div>
	
		
