---
layout: MarketplaceUXSpec
multipage: false
---	

<div class="container">
	<h1>Submiting app feedback</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-12 col-md-12 col-lg-12">
	
	  <h2>Mockup: flagging user review</h2>
	  
	  <img src="img/abuse-report-flagging-ui-mockup-v1.0.jpg" width="1100">
	  
	  <h2>Mockup: reporting feedback, and filing feedback in Reviewer Tools</h2>
	  
	  <img src="img/abuse-report-reviewer-tools-ui-mockup-v1.0.jpg" width="1100">
	  		
	</div>
	
		
