<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
			
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#marketplaceUXSpecCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand marketplaceLogo" href="https://wiki.mozilla.org/Marketplace/Marketplace_UX"><a href="">&nbsp;</a>
			</div>
			
			<div class="collapse navbar-collapse" id="marketplaceUXSpecCollapse">
			
				<ul class="nav navbar-nav">
				
					<li><a href="index.html">Marketplace Contributors Editorial</a></li>
						
					<li><a href="https://github.com/pwalm/marketplace-community-editorial/issues/">Open Issues</a></li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Table of Contents <b class="caret"></b></a>
						
						<ul class="dropdown-menu">
						
						  <li class="menuHeading"><em>High-level Overview</em></li>
							<li><a href="overview.html">Overview</a></li>
							<li><a href="goals.html">Goals</a></li>
							<li><a href="audience.html">Audience</a></li>

						  <li class="menuHeading"><em>Mid-level Strategy</em></li>
						  <li><a href="contributionTypes.html">Types of Contribution</a></li>
							<li><a href="customerJourney.html">Customer Journey Map</a></li>
							<li><a href="communityOnboarding.html">Community Onboarding Phases (OLD)</a></li>
							<li><a href="designStrategy.html">Design Approach and Principles</a></li>

						  <li class="menuHeading"><em>Low-level Concepts</em></li>
							<li><a href="">Supplement app listing page with screenshots</a></li>
							<li><a href="">Localise app listing page</a></li>
							<li><a href="">Encourage review of apps with zero review</a></li>
							<li><a href="abusePatrol.html">Abuse patrol: submiting app feedback</a></li>

						</ul>
						
					</li>
					
				</ul>
					
			</div>
		</div>
	</nav>
</header>